## [Health Insurance Cross Sell Prediction üè† üè• - Kaggle](https://www.kaggle.com/datasets/anmolkumar/health-insurance-cross-sell-prediction)


|    | Variable           | Definition                                                                                                                  |
|---:|:-------------------|:----------------------------------------------------------------------------------------------------------------------------|
|  0 | id                 | Unique ID for the customer                                                                                                  |
|  1 | Gender             | Gender of the customer                                                                                                      |
|  2 | Age                | Age of the customer                                                                                                         |
|  3 | Driving_License    | 0 : Customer does not have DL, 1 : Customer already has DL                                                                  |
|  4 | Region_Code        | Unique code for the region of the customer                                                                                  |
|  5 | Previously_Insured | 1 : Customer already has Vehicle Insurance, 0 : Customer doesn't have Vehicle Insurance                                     |
|  6 | Vehicle_Age        | Age of the Vehicle                                                                                                          |
|  7 | Vehicle_Damage     | 1 : Customer got his/her vehicle damaged in the past. 0 : Customer didn't get his/her vehicle damaged in the past.          |
|  8 | Annual_Premium     | The amount customer needs to pay as premium in the year                                                                     |
|  9 | PolicySalesChannel | Anonymized Code for the channel of outreaching to the customer ie. Different Agents, Over Mail, Over Phone, In Person, etc. |
| 10 | Vintage            | Number of Days, Customer has been associated with the company                                                               |
| 11 | Response           | 1 : Customer is interested, 0 : Customer is not interested                                                                  |

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv("data/train.csv", index_col="id")
train.shape

(381109, 11)

In [3]:
test = pd.read_csv("data/test.csv", index_col="id")
test.shape

(127037, 10)

In [4]:
df = pd.concat([train, test])
df.shape

(508146, 11)

In [5]:
df

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
id,,,,,,,,,,,
1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1.0
2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0.0
3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1.0
4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0.0
5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0.0
...,...,...,...,...,...,...,...,...,...,...,...
508142,Female,26,1,37.0,1,< 1 Year,No,30867.0,152.0,56,NaN
508143,Female,38,1,28.0,0,1-2 Year,Yes,28700.0,122.0,165,NaN
508144,Male,21,1,46.0,1,< 1 Year,No,29802.0,152.0,74,NaN
508145,Male,71,1,28.0,1,1-2 Year,No,62875.0,26.0,265,NaN
508146,Male,41,1,29.0,1,1-2 Year,No,27927.0,124.0,231,NaN

In [6]:
df_ohe = pd.get_dummies(df)

In [7]:
label_name = "Response"

In [8]:
X = df_ohe.drop(label_name, axis=1)

In [9]:
train.index

Int64Index([     1,      2,      3,      4,      5,      6,      7,      8,
                 9,     10,
            ...
            381100, 381101, 381102, 381103, 381104, 381105, 381106, 381107,
            381108, 381109],
           dtype='int64', name='id', length=381109)

In [10]:
X_train = X.loc[train.index]
X_test = X.loc[test.index]
X_train.shape, X_test.shape

((381109, 14), (127037, 14))

In [11]:
y_train = df_ohe[label_name].dropna()
y_train.shape

(381109,)

In [12]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()

In [13]:
model.fit(X_train, y_train)

RandomForestClassifier()

In [14]:
from sklearn.model_selection import cross_val_predict

y_valid_predict = cross_val_predict(model, X_train, y_train, cv=3, verbose=2)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   22.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:  1.1min finished

In [15]:
(y_valid_predict == y_train).mean()

0.8661983841893002

In [17]:
pd.crosstab(y_train, y_valid_predict)

col_0        0.0   1.0
Response
0.0       324525  9874
1.0        41119  5591

In [18]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_train, y_valid_predict)

array([[324525,   9874],
       [ 41119,   5591]])

In [16]:
y_predict = model.predict(X_test)
y_predict[:5]

array([0., 0., 0., 0., 0.])