In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
# online_retail.csv 파일 불러오기
df = pd.read_csv(f"data/online_retail.csv")
df = df[df["CustomerID"].notnull()]
# NaN 값을 가지는 행 제거
df = df.dropna()
df.shape

(406829, 8)

In [3]:
# 고객 ID와 상품 코드를 정수형으로 변환
df['CustomerNo'] = df['CustomerID'].astype("category").cat.codes.astype(int)
df['StockCodeNo'] = df['StockCode'].astype("category").cat.codes.astype(int)
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
CustomerNo     0
StockCodeNo    0
dtype: int64

In [4]:
df_ratings = df.groupby(["CustomerNo", "StockCodeNo"])["Quantity"].mean().reset_index()
df_ratings.columns = ["user_id", "item_id", "rating"]
df_ratings.head()

   user_id  item_id  rating
0        0     2001     0.0
1        1       25    24.0
2        1       87    36.0
3        1      130     6.0
4        1      167    10.0

In [5]:
train_ratings, test_ratings = train_test_split(df_ratings, test_size=0.1, random_state=42)
train_ratings, val_ratings = train_test_split(train_ratings, test_size=0.1, random_state=42)